<h1>About</h1>
<div style="margin-left: 50px; font-size: 1.25rem" >
    <p>A project dedicated to showing my brothers the power of computer science and all that it helps create.</p>
    <p>Based on the 2008 board game <a href="www.khet.com">Khet</a></p>
    <ul>
        <li>Built with python, angularjs, and createjs</li>
        <li>Deployed on <a href="https://cloud.google.com/appengine/">Google App Engine</a></li>
        <li>Source on <a href="https://github.com/TheWiseLion/KhetOnline">Github</a></li>
        <li>Tested on <a href="www.khet.com">TravisCI</a></li>
        <li>PyKhet library now on  <a href="https://pypi.python.org/pypi/pykhet">PyPi</a></li>
    </ul>
    <div  style="margin-left: 50px;">
        <img src="static/img/travisci.png" style="width: 200px">
        <img src="static/img/github-logo.png" style="width: 200px">
        <img src="static/img/appengine.png" style="width: 200px">
    </div>

    <h3>Produced Blogs</h3>
    <div class="tab">
        <li><a href="www.khet.com">Deploying Flask On App Engine</a></li>
        <li><a href="www.khet.com">Khet Online Lessons Learned</a></li>
    </div>




</div>
<br><br>
<br><br>
<br><br>
<h2 class="text-center">At the intersection of science and imagination</h2>
<img src="https://raw.githubusercontent.com/TheWiseLion/graphics/master/banners/FinalBanner.png" style="display:block; margin-right: auto;
        margin-left: auto;">