<md-dialog aria-label="createModal">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Creating Game</h2>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="margin-left: auto;margin-right: auto;display: block;">

                <h2 style="text-align: center">Loading</h2>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-progress-circular md-diameter="96" style="margin-left: auto;margin-right: auto;display: block;"></md-progress-circular>
        </md-dialog-actions>
    </form>
</md-dialog>


<!--<md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>-->
