<md-dialog aria-label="joinModal">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="text-align: center;margin-left: auto;margin-right: auto;">- Join Game -</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <label style="text-align: center;">Do You Want Play A Game?</label>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="button" class="md-raised" ng-click="cancel()">Observer Game</md-button>
            &nbsp;&nbsp;&nbsp;
            <md-button type="button" class="md-raised md-primary" ng-if="nextGame==null" ng-click="hide()">Join Game</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

